.quienesomos {
    background-color: beige;
    background-repeat: no-repeat;

}

.titulo__quienesomos {

    font-family: 'Times New Roman', Times, serif
}

.arquitectos__imagen {
    border-radius: .5rem;
    max-width: 65%;
    min-width: 60%;
}

.quienesomos__pa {
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nombres {
    font-size: 1.4rem;
    color: white;
    background-color: rgb(60, 60, 105);
    border-radius: .3rem;
    max-width: 500px;
}

/*-----------------------------anuncio---------------------*/
.anuncio {
    background-color: rgb(209, 205, 199);
}

.anuncio__cartelh2 {
    font-size: medium;
    position: relative;
    bottom: 4rem;
    background-color: aliceblue;
    padding: .5rem;
    font-weight: bold;
    color: rgb(57, 57, 161);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}







/*-----------------------footer--------------------*/

.footer-nav {
    background-color: rgb(132, 132, 153) !important;
    padding: 1.4rem;
}