* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


a {
    text-decoration: none;

}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

.main {

    background-color: rgb(230, 225, 225);
}