@import "./base";

@import './components/botones';
@import './components/card';
@import './components/carousel';
@import './components/footer';
@import './components/header';

@import './pages/index1';
@import './pages/portfolio';
@import './pages/quienesomos';
@import './pages/contacto';