.btn-primary {
    background-color: #e9bf8f;
    border: #e9bf8f;
}

.btn-primary:hover {
    background-color: black;
}

.form-control {
    height: 52px;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: none !important;
    border: 1px solid;
}