footer {
    background-color: $secondary-color !important;
    font-family: $ff-Times;


    .footer__nav {
        background-color: $primary-color !important;
        padding: 1.4rem;

        .navfooter__ul a {
            color: white !important;
            padding: .5rem;
        }

        .ubicacion {
            color: white !important;
        }

    }
}

.footerpaginas {
    font-size: small;
}



.imagen-footer {
    border-radius: 10px;
    margin-top: 15px;
    width: 100%;
    max-width: 680px;
    max-height: 385px;
}