footer {
    background-color: $secondary-color !important;
    font-family: $ff-Times;
}

.footer-nav {
    background-color: $primary-color !important;
    padding: 1rem;
}

.navfooter__ul a {
    color: white !important;
}

.ubicacion {
    color: white !important;
}

.imagen-footer {
    border-radius: 10px;
    margin-top: 15px;
    max-height: 300px;
    width: 100%;
}