footer {
    background-color: rgb(243, 242, 209) !important;
}

.footer-nav {
    background-color: rgb(72, 89, 125) !important;
    padding: 1.4rem;
}

.navfooter__ul a {
    color: white !important;
}

.ubicacion {
    color: white !important;
}

.imagen-footer {
    border-radius: 10px;
    margin-top: 15px;
    max-height: 300px;
    width: 100%;
}