header {
    background-color: $primary-color;
    padding: .4rem;

}


.navbar-nav .nav-link {
    font-size: 1rem;
    font-family: $ff-Times;
    color: #19446e;
}

#nav-item {
    color: black;
    font-family: $ff-Times;
}


.navbar-nav {
    gap: 1rem;
    font-size: 1rem;
    font-family: $ff-Times;
    color: #19446e;
}


.imagenlogo {
    background-color: $primary-color;
    padding: .7rem;
    width: 60%;
    height: 40%;
}