.pag_contacto {
    background-color: $secondary-color;
}

.contacto1 {
    gap: 1rem;

}

.plano {
    min-width: 100px;
    border: 1px solid black;
    padding: .2rem;
    max-width: 320px;
    border-radius: .2rem;
    box-sizing: border-box;
    box-shadow: inset;
    margin-bottom: 1rem;
}

.cartel_contacto {
    color: beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    background-color: rgb(57, 52, 97);
    padding: 1rem;
    border-radius: 1rem;
    width: 50%;
    left: 100px;
}

.contacto {
    font-family: $ff-Times;
}

.contact_1 {

    font-family: $ff-Times;
}