.pag_contacto {
    background-color: rgb(255, 255, 255);
}

.contacto1 {
    gap: 1rem;

}

.plano {
    width: 350px;
    border-color: black;
    max-width: 600px;
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: inset;
    margin-bottom: 1rem;
}

.cartel_contacto {
    color: beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    background-color: rgb(57, 52, 97);
    padding: 1rem;
    border-radius: 1rem;
    width: 50%;
    left: 100px;
}