#portfolio .col-lg-4 {
    padding: 1rem;
}

#portfolio img {
    width: 100%;
    height: 300px;
}

.portfolio__titulo {

    font-family: 'Times New Roman', Times, serif;
}


.container-port {
    background-color: rgb(243, 242, 209);
    padding: 25px;
}


/*---------------Servicos---------------*/

.servicios {
    background-color: #e4e4dd;

}

.servicios_titulo {
    margin-bottom: 2rem;
}

.titulo_ser {
    margin-top: 2rem;
}