.quienesomos {
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;

}

.titulo__quienesomos {

    font-family: 'Times New Roman', Times, serif
}

.arquitectos__imagen {
    border-radius: .5rem;
    max-width: 65%;
    min-width: 60%;
}

.quienesomos__pa {
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nombres {
    font-family: $ff-Times;
    font-size: 1.4rem;
    color: white;
    padding: .5rem;
    background-color: $primary-color;
    border-radius: .3rem;
    max-width: 500px;
}

.anuncio {
    background-color: rgb(253, 252, 251);
    border-radius: .5rem;
}

.anuncio__cartelh2 {
    position: relative;
    max-width: 1280px;
    bottom: 4rem;
    padding: .5rem;
    font-weight: bold;
    color: $secondary-color;
    font-family: $ff-Times;

    @media (max-width: 1200px) {
        font-size: 1.5rem; // Tamaño para pantallas medianas
    }

    @media (max-width: 768px) {
        bottom: 3rem;
        font-size: 1rem; // Tamaño para pantallas pequeñas
    }

    @media (max-width: 450px) {
        bottom: 2rem;
        font-size: .7rem; // Tamaño para pantallas muy pequeñas
    }
}